header {
  text-align: center;
  border-bottom: solid 2px rgb(0, 0, 0);
  font-size: 32px;
  padding: 20px;
}

.texto-tales {
  display: flex;
  justify-content: last baseline;
  margin-right: 60%;
  font-size: 17px;
  background-color: cadetblue;
  margin-block: 5px rgb(0, 0, 0);
}

.introducao {
font-size: 17px;
}

.video-tales {
  background-color: cadetblue;
  background-position: 60%;
}