header {
  text-align: center;
  border-bottom: solid 2px rgb(0, 0, 0);
  font-size: 32px;
  padding: 20px;
}

.texto-tales {
  display: flex;
  justify-content: last baseline;
  margin-right: 57%;
  font-size: 15px;
}

.introducao {
font-size: 16px;
}